# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
lib
log
modules
precompiled
test-result
server.pid
*.iml
*.eml
logs
project/project
project/target
target
tmp
dist
/*.iml
/out
/RUNNING_PID

# Ignore IDE files #
eclipse
